/* styles for feed page */

.container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.latest
{
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 80%, rgba(148, 187, 233, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main
{
  padding-top: 40px;
}

.shrug
{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1.5px #e9e9e9;
  width: 700px;
  cursor: pointer;
}

.metadata
{
  color: #a8a8a8;
}

.description
{
  line-height: 1.5;
  color: #363737;
  cursor: text;
}

.title
{
  color: #363737;
}

.footer
{
  display:flex;
  gap: 292px;
}

.footerText
{
  color: #A8A8A8;
  padding-top: 40px;
  padding-bottom: 80px;
}

.footerText:hover
{
  cursor: pointer;
  color: #363737;
}