/* styles for feed page */

.container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main
{
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

.shrug
{
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: solid 1.5px #e2e2e2;
  gap: 0.9375rem;
  width: 620px;
}

.metadataContainer
{
  display: flex;
  justify-content: space-between;
  color: #a8a8a8;
}

.metadata
{
  margin-top: 0;
  margin-bottom: 0;
}

.description
{
  line-height: 1.5;
  color: #363737;
  cursor: text;
}

.title
{
  color: #363737;
  margin-top: 0;
  margin-bottom: 0;
}

.spacer
{
  padding-bottom: 3.75rem;
}

.footer
{
  display:flex;
  width: 700px;
  justify-content: center;
  color: #A8A8A8;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  cursor: default;
}

.pageNavigation:hover
{
  cursor: pointer;
  color: #363737;
}