/* styles for landing page */

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.title
{
  user-select: none;
  color: #363737; 
  cursor: default;
  text-decoration: none;
  cursor: pointer;
}

.tagline
{
  padding-bottom: 20px;
}

.route
{
  color: #A9A9A9;
}