/* styles for landing page */

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  height: 100vh;
  font-size: 15px;
}

.title
{
  user-select: none;
  color: #363737; 
  cursor: default;
  text-decoration: none;
  cursor: pointer;
}

.tagline
{
  padding-bottom: 1.25rem;
}

.route
{
  color: #A9A9A9;
}

.auth
{
  font-size: 13px !important;
}